//colors
$salem: #057944;
$old-gold: #d4af37;
$cararra: #efeeea;
$nobel: #b8b7b7;
$black: #000;
$jade: #09B96A;
$spring-green: #09ec86;
$edward: #a5b3ac;
$alto: #cecece;
$monza: #C70027;

//breakpoints
$small-mobile: rem(375px);
$mobile: rem(768px);